.hidden {
    display: none
}
* {
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    text-align: center;
}

#startBtn {
    font-size: medium;
    border-radius: 8px;
    background-color: blueviolet;
    color: antiquewhite;
    cursor: pointer;
    padding: 10px;

}
.viewhighscores {
text-align: left;
position: absolute;
}

.title {
    font-size: 50px;
    font-family: 'Noto Sans TC', sans-serif;
}
.info {
    font-size: x-large;
}

.choice {
    text-align: center;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    padding:10px;


}

#submitinitial {
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    padding:5px;

}

#timer {
    text-align: right;

}


ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
   d
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  